@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}



::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  button svg {
    display:none;
  }
}